@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; }

/* CLASES AUXILIARES */
/* Formato de texto negrita */
.bold {
  font-weight: bold; }

/*Imagen ocupa 100% de la pantalla*/
.wide-image-viewport {
  max-width: 100%;
  height: auto; }

/*Responsive de imagen principal de las secciones index, work y services*/
.main__img--desktop {
  display: none; }

@media (min-width: 768px) {
  .main__img--desktop {
    display: block; }
  .main__img--mobile {
    display: none; } }

/* NAVEGADOR */
.navbar {
  background-color: #01161E;
  height: 100px; }
  .navbar h2 {
    text-align: center;
    color: #F25757;
    font-size: 30px;
    font-weight: bold;
    transition: .3s ease-in-out; }
    .navbar h2:hover {
      transform: scale(1.05); }

.container-fluid {
  background-color: #01161E; }

.navbar-toggler {
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none; }

.navbar-toggler-icon {
  background-image: url(../recursos/botones/menu-hamburguesa.png); }

.nav-link {
  color: #EFA00B;
  font-weight: bold;
  font-size: 15px; }
  .nav-link:hover {
    color: white; }

.navbar-nav {
  flex-direction: row;
  justify-content: space-evenly; }

@media (min-width: 1024px) {
  .navbar h2 {
    font-size: 50px; }
  .nav-link {
    font-size: 25px; } }

/* FOOTER */
.footer {
  background-color: #5A7D7C;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer a {
    text-decoration: none;
    color: #F3F3F3; }
  .footer h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-right: 30px; }
  .footer ul {
    list-style: none; }
  .footer div {
    display: flex;
    border-bottom: 2px solid #F3F3F3;
    padding-bottom: 10px; }

.social-media-icon {
  width: 35px;
  height: auto; }

.social-media-icons-container {
  display: flex;
  margin: 0;
  padding: 0; }
  .social-media-icons-container li {
    margin-right: 10px;
    text-align: center; }
  .social-media-icons-container p {
    display: none; }

.links-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  text-align: center; }
  .links-container li {
    flex-basis: 50%; }

.links-container-left {
  display: none; }

.links-container-right {
  display: none; }

@media (min-width: 768px) {
  .links-container {
    display: none; }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer div {
      flex-direction: column;
      align-items: center;
      padding: 0;
      border-bottom: none; }
  .links-container-left {
    display: block;
    margin: 0;
    padding-left: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 15px; }
  .links-container-right {
    display: block;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 15px; }
  .social-media-icons-container {
    flex-direction: row;
    align-items: center; }
    .social-media-icons-container p {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 15px;
      color: #F3F3F3; } }

@media (min-width: 1024px) {
  .footer h2 {
    font-size: 40px; }
  .links-container-left {
    font-size: 20px; }
  .links-container-right {
    font-size: 20px; }
  .social-media-icons-container p {
    font-size: 20px; }
  .social-media-icon {
    width: 45px;
    height: auto; } }

/* MAIN (index.html) */
/* Artículo About Me */
#main-img-about-index {
  width: 300px;
  height: auto;
  margin: 15px auto; }

.main__h1--index {
  color: #5A7D7C;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px; }

.main__article--about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px; }
  .main__article--about p {
    font-size: 15px;
    padding: 15px;
    margin: 0; }

.call-to-action__my-work {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #5A7D7C;
  padding: 10px 0;
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  transition: .3s ease-in-out; }
  .call-to-action__my-work:hover {
    transform: translate(0, 10px); }

/* Artículo My Services */
.main__h2--services {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #F3F3F3;
  background-color: #F25757;
  margin: 0;
  padding-top: 30px; }

.main__article--services {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F3F3F3;
  background-color: #F25757;
  padding-bottom: 30px; }
  .main__article--services ul {
    list-style: none;
    padding: 0; }
    .main__article--services ul li {
      padding: 10px 15px; }
      .main__article--services ul li:first-child {
        padding-bottom: 0px; }
      .main__article--services ul li:nth-child(2n) {
        padding-top: 0px; }
  .main__article--services p {
    font-size: 15px;
    margin: 0; }

.call-to-action__my-services {
  display: block;
  text-decoration: none;
  color: #01161E;
  background-color: #F3F3F3;
  padding: 10px 0;
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  transition: .3s ease-in-out; }
  .call-to-action__my-services:hover {
    transform: translate(0, 10px); }

#main-img-services-index {
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px; }

/* Grilla de My Work */
#grid-section {
  background-color: #EFA00B; }

.main__h2--grid {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #F3F3F3;
  margin: 0;
  padding-top: 30px; }

.img-4__grid--desktop,
.img-5__grid--desktop {
  display: none; }

.container__my-work {
  padding: 15px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img-1 img-3" "img-2 img-5" "img-4 img-4"; }
  .container__my-work img {
    max-width: 100%;
    height: auto; }
  .container__my-work div {
    align-items: center;
    padding: 5px;
    position: relative; }
    .container__my-work div:hover .caption {
      opacity: 1; }

.img-1 {
  grid-area: img-1;
  display: flex;
  justify-content: flex-end; }

.img-2 {
  grid-area: img-2;
  display: flex;
  justify-content: flex-end; }

.img-3 {
  grid-area: img-3;
  display: flex;
  justify-content: flex-start; }

.img-4 {
  grid-area: img-4;
  display: flex;
  justify-content: center;
  align-items: center; }

.img-5 {
  grid-area: img-5;
  display: flex;
  justify-content: flex-start; }

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F25757;
  color: #F3F3F3;
  padding: 10px 30px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0px 50px 5px 0px;
  font-size: 15px; }

@media (min-width: 425px) {
  #main-img-about-index {
    width: 400px;
    height: auto; }
  .main__article--about p {
    font-size: 20px; }
  #main-img-services-index {
    width: 400px;
    height: auto; }
  .main__article--services p {
    font-size: 20px; } }

@media (min-width: 768px) {
  .main__h1--index {
    font-size: 70px; }
  .main__article--about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  #main-img-about-index {
    max-width: 100%;
    height: auto;
    margin: 15px; }
  .main__h2--services {
    font-size: 60px; }
  .main__article--services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  #main-img-services-index {
    max-width: 100%;
    height: auto;
    margin: 15px; }
  .main__h2--grid {
    font-size: 60px; }
  .caption {
    font-size: 25px; } }

@media (min-width: 1024px) {
  .main__article--about div {
    width: 624px;
    height: auto; }
  .main__article--about p {
    font-size: 25px; }
  .call-to-action__my-work {
    font-size: 25px;
    width: 250px; }
  .main__article--services div {
    width: 624px;
    height: auto; }
  .main__article--services p {
    font-size: 25px; }
  .call-to-action__my-services {
    font-size: 25px;
    width: 250px; }
  .img-4__grid--mobile,
  .img-5__grid--mobile {
    display: none; }
  .img-4__grid--desktop,
  .img-5__grid--desktop {
    display: block; }
  .container__my-work {
    padding: 15px;
    padding-bottom: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img-1 img-3 img-5" "img-2 img-4 img-5"; }
  .img-3 {
    grid-area: img-3;
    display: flex;
    justify-content: center; }
  .img-5 {
    grid-area: img-5;
    max-height: 100%; } }

@media (min-width: 1280px) {
  #main-img-about-index {
    max-height: 100%;
    width: auto; }
  #main-img-services-index {
    max-height: 100%;
    width: auto; }
  .container__my-work {
    width: 1280px;
    height: auto; } }

/* MAIN (work.html) */
.main__h1--work {
  color: #F25757;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px; }

.section__my-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .section__my-work img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px; }
  .section__my-work div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }

.call-to-action__works {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #EFA00B;
  padding: 10px 0;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  transition: .3s ease-in-out; }
  .call-to-action__works:hover {
    transform: translate(0, 10px); }

@media (min-width: 768px) {
  .main__h1--work {
    font-size: 70px; } }

@media (min-width: 768px) {
  .section__my-work div {
    width: 50%; } }

@media (min-width: 1024px) {
  .call-to-action__works {
    font-size: 25px;
    width: 250px; } }

/* MAIN (work.html) */
/*Sección de servicios*/
.main-services {
  background-color: #5A7D7C; }
  .main-services__h1--services {
    color: #EFA00B;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px; }

.article-campaings,
.article-flow-designs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .article-campaings__img,
  .article-flow-designs__img {
    width: 300px;
    height: auto;
    margin: 15px; }
  .article-campaings__container,
  .article-flow-designs__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .article-campaings__container h2,
    .article-flow-designs__container h2 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #F3F3F3;
      margin: 10px; }
    .article-campaings__container p,
    .article-flow-designs__container p {
      font-size: 15px;
      color: #F3F3F3;
      padding: 15px; }
    .article-campaings__container a,
    .article-flow-designs__container a {
      display: block;
      text-decoration: none;
      color: #F3F3F3;
      background-color: #EFA00B;
      padding: 10px 0;
      border-radius: 50px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      width: 300px;
      margin: auto;
      margin-bottom: 10px;
      transition: .3s ease-in-out; }
      .article-campaings__container a:hover,
      .article-flow-designs__container a:hover {
        transform: translate(0, 10px); }

/*Sección "Why choose me?"*/
.section-choose-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #EFA00B; }
  .section-choose-me h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #01161E;
    margin: 10px; }
  .section-choose-me ul {
    background-color: #F5B947;
    margin: 15px;
    padding: 15px 30px; }
  .section-choose-me p {
    font-size: 15px; }
  .section-choose-me__p--separated {
    padding: 15px; }
  .section-choose-me a {
    display: block;
    text-decoration: none;
    color: #F3F3F3;
    background-color: #5A7D7C;
    padding: 10px 0;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    transition: .3s ease-in-out; }
    .section-choose-me a:hover {
      transform: translate(0, 10px); }

.section-work-carousel {
  display: flex;
  background-color: #F3F3F3;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3; }
  .section-work-carousel h5 {
    border-radius: 30px;
    height: 30px;
    text-align: center;
    color: #F3F3F3;
    background-color: #F25757; }
  .section-work-carousel .carousel-control-prev-icon,
  .section-work-carousel .carousel-control-next-icon {
    background-color: #F25757; }

@media (min-width: 425px) {
  .article-campaings__img,
  .article-flow-designs__img {
    width: 400px;
    height: auto; }
  .article-campaings__container p,
  .article-flow-designs__container p {
    font-size: 20px; }
  .section-choose-me p {
    font-size: 20px; } }

@media (min-width: 768px) {
  .main-services__h1--services {
    font-size: 70px; }
  .article-campaings {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .article-campaings__container {
      width: 338px; }
  .article-flow-designs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; }
    .article-flow-designs__container {
      width: 338px; }
  .section-choose-me ul {
    background-color: transparent;
    width: 537.6px; }
  .section-work-carousel__container {
    width: 768px;
    padding: 30px; } }

@media (min-width: 1024px) {
  .article-campaings__container,
  .article-flow-designs__container {
    width: 594px; }
    .article-campaings__container h2,
    .article-flow-designs__container h2 {
      font-size: 60px; }
    .article-campaings__container a,
    .article-flow-designs__container a {
      font-size: 25px;
      width: 250px; }
    .article-campaings__container p,
    .article-flow-designs__container p {
      font-size: 25px; }
  .section-choose-me h3 {
    font-size: 40px; }
  .section-choose-me ul {
    width: 716.8px; }
  .section-choose-me p {
    font-size: 25px; }
  .section-choose-me a {
    font-size: 25px;
    width: 250px;
    margin-bottom: 20px; } }

@media (min-width: 1280px) {
  .article-campaings__img,
  .article-flow-designs__img {
    max-height: 100%;
    width: auto; }
  .article-campaings__container,
  .article-flow-designs__container {
    width: 610px;
    height: auto; }
  .section-choose-me ul {
    width: 896px; }
  .section-choose-me__p--separated {
    width: 1280px; } }

/* MAIN (contact.html) */
.main__h1--contact {
  color: #EFA00B;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px; }

.main-contact form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap; }

.form-section {
  margin: 20px 0; }
  .form-section label {
    margin: 0 15px; }
  .form-section textarea {
    width: 100%;
    height: auto; }

#sent-buttom {
  width: 100px; }

@media (min-width: 768px) {
  .main__h1--contact {
    font-size: 70px; } }
