@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* NAVEGADOR */

.navbar {
    background-color: #01161E;
    height: 100px;
}

.container-fluid {
    background-color: #01161E;
}

.navbar h2 {
    text-align: center;
    color: #F25757;
    font-size: 30px;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url(../recursos/botones/menu-hamburguesa.png);
}

.nav-link{
    color: #EFA00B;
    font-weight: bold;
    font-size: 15px;
}

.nav-link:hover{
    color: white;
}

.navbar-nav{
    flex-direction: row;
    justify-content: space-evenly;
}

@media (min-width: 1024px){
    .navbar h2{
        font-size: 50px;
    }
    .nav-link{
        font-size: 25px;
    }
}