/* MAIN (about.html) */

.main-about {
    p {
        font-size: $xsmall;
    }
}

.article-about-me,
.article-designer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;

    &__img {
        width: 300px;
        height: auto;
        margin: 15px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        p {
            color: $black;
            margin: 0;
        }
    }
}

.article-about-me {
    &__container {
        h1 {
            font-size: $large;
            font-weight: bold;
            text-align: center;
            color: $green;
            margin: 10px;
        }

        a {
            @include call-to-action ($green, $white)
        }
    }

    p {
        padding: 15px;
    }
}

.article-designer {
    background-color: $yellow;

    &__container {
        h2 {
            font-size: $large;
            font-weight: bold;
            text-align: center;
            color: $white;
            margin: 10px;
        }

        ul {
            list-style: decimal;
            margin: 0;
            padding: 15px 30px;
        }
    }

    &__p--separated {
        padding: 15px;
        margin: 0;
    }
}

.section-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    p {
        color: $green;
        text-align: center;
    }

    &__p {
        &--emphasis {
            border: 5px solid $green;
            border-radius: 30px;
            margin: 15px;
            padding: 20px;
        }

        &--name {
            margin: 0px 15px;
            text-align: center;
        }


    }

}

.section-curriculum {
    background-color: $red;
    color: $white;
    padding: 40px 0;

    article {
        div {

            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: $large;
                font-weight: bold;
                text-align: center;
                margin: 10px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 15px 30px;

                li {
                    margin-bottom: 15px;
                }
            }

            p {
                margin: 0;
            }
        }
    }

    a {
        @include call-to-action ($yellow, $black)
    }
}

.div-spotify-playlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;

    h2 {
        font-size: $large;
        font-weight: bold;
        text-align: center;
        color: $red;
        margin: 10px;
    }

    iframe {
        padding: 0 20px;
    }


}

@media (min-width:425px) {

    .main-about {
        p {
            font-size: $small;
        }
    }

    .article-about-me,
    .article-designer {
        &__img {
            width: 400px;
            height: auto;
        }
    }
}

@media (min-width:768px) {

    .article-about-me,
    .article-designer {
        display: flex;
        justify-content: center;

        &__container {
            width: 768px-(400px+15px*2);
        }
    }

    .article-about-me {
        flex-direction: row-reverse;
    }

    .article-designer {
        flex-direction: row;
    }

    .section-curriculum {
        article {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }
}

@media (min-width:1024px) {
    .main-about {
        p {
            font-size: $medium;
        }

        a {
            font-size: $medium;
            width: 250px;
        }

        h1 {
            font-size: $xlarge;
        }

        h2 {
            font-size: $xlarge;
        }

        .section-curriculum {
            article {
                div {
                    h2 {
                        font-size: $xlarge;
                    }
                }
            }
        }

        .div-spotify-playlist {

            h2 {
                font-size: $xlarge;
            }

        }

        .article-about-me,
        .article-designer {
            &__container {
                width: 1024px-(400px+15px*2);
            }
        }
    }
}

@media (min-width:1280px) {

    .article-about-me,
    .article-designer {
        &__img {
            max-height: 100%;
            width: auto;
            margin-bottom: 50px;
        }
    }

    .section-reviews {
        &__p {
            &--emphasis {
                width: 1280px;
            }
        }
    }

    .section-curriculum {
        article {
            div {
                width: (1280px)/2;
            }
        }
    }

    .div-spotify-playlist {
        iframe {
            width: 1280px;
        }

    }
}