/* MAIN (contact.html) */

.main__h1--contact {
    color: $yellow;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
}

.main-contact {
    form {
        padding: 40px 15px;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .main__h1--contact {
        font-size: 70px;
    }
}

@media (min-width: 1280px) {
    form {
        width: 1280px;
    }
}