/* MAIN (work.html) */

/*Sección de servicios*/

.main-services {
    background-color: $green;

    &__h1--services {
        @include main-titles ($yellow);
    }
}

.article-campaings,
.article-flow-designs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    &__img {
        width: 300px;
        height: auto;
        margin: 15px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        h2 {
            font-size: $large;
            font-weight: bold;
            text-align: center;
            color: $white;
            margin: 10px;
        }

        p {
            font-size: $xsmall;
            color: $white;
            padding: 15px;
        }

        a {
            @include call-to-action ($yellow, $white)
        }
    }
}

/*Sección "Why choose me?"*/

.section-choose-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: $yellow;

    h3 {
        font-size: $medium;
        font-weight: bold;
        text-align: center;
        color: $black;
        margin: 10px;
        margin-top: 50px;
    }

    ul {
        background-color: $light-yellow;
        margin: 15px;
        padding: 15px 30px;
    }

    p {
        font-size: $xsmall;
    }

    &__p--separated {
        padding: 15px;
    }

    a {
        @include call-to-action ($green, $white)
    }
}

.section-work-carousel {
    display: flex;
    background-color: #F3F3F3;
    flex-direction: column;
    align-items: center;
    background-color: $white;

    h5 {
        border-radius: 30px;
        height: 30px;
        text-align: center;
        @include carousel-color ($white, $red)
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: $red;
    }
}



@media (min-width: 425px) {

    .article-campaings,
    .article-flow-designs {
        &__img {
            width: 400px;
            height: auto;
        }

        &__container {
            p {
                font-size: $small;
            }
        }
    }

    .section-choose-me {
        p {
            font-size: $small;
        }
    }
}

@media (min-width: 768px) {
    .main-services {
        &__h1--services {
            font-size: 70px;
        }
    }

    .article-campaings {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__container {
            width: 768px-(400px+15px*2);
        }
    }

    .article-flow-designs {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;



        &__container {
            width: 768px-(400px+15px*2);
        }
    }

    .section-choose-me {
        ul {
            background-color: transparent;
            width: 0.7*(768px);
        }
    }

    .section-work-carousel {
        &__container {
            width: 768px;
            padding: 30px;
        }
    }

}

@media (min-width:1024px) {

    .article-campaings,
    .article-flow-designs {

        &__container {
            width: 1024px-(400px+15px*2);

            h2 {
                font-size: $large-desktop;
            }

            a {
                font-size: $medium;
                width: 250px;
            }

            p {
                font-size: $medium;
            }
        }
    }

    .section-choose-me {
        h3 {
            font-size: $xlarge;
        }

        ul {
            width: 0.7*(1024px);
        }

        p {
            font-size: $medium;
        }

        a {
            font-size: $medium;
            width: 250px;
        }
    }


}

@media (min-width: 1280px) {

    .article-campaings,
    .article-flow-designs {
        &__img {
            max-height: 100%;
            width: auto;
            margin-bottom: 50px;
        }

        &__container {
            width: 1280px-(640px+15px*2);
            height: auto;
        }
    }

    .section-choose-me {
        ul {
            width: 0.7*(1280px);
        }

        &__p--separated {
            width: 1280px;
        }
    }

}