// Paleta de colores
$black: #01161E;
$yellow: #EFA00B;
$light-yellow: #F5B947;
$red: #F25757;
$green: #5A7D7C;
$white: #F3F3F3;

// Tamaños de tipografías
$xsmall: 15px;
$small: 20px;
$medium: 25px;
$large: 30px;
$xlarge: 40px;
$large-desktop: 60px;
$xlarge-desktop: 70px;